.content {
  figure {
    position: relative;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .pet {
    img {
      height: 15rem;
      width: 15rem;
    }
  }
}
